@keyframes cactusMov {
  0% {
    left: 540px;
  }

  100% {
    left: -20px;
  }
}

@keyframes jump {
  0% {
    top: 145px;
  }

  30% {
    top: 130px;
  }

  50% {
    top: 80px;
  }

  80% {
    top: 100px;
  }

  100% {
    top: 150px;
  }
}