* {
  box-sizing: border-box;
}

.game {
  width: 600px;
  height: 200px;
  border-bottom: 1px solid black;
  margin: auto;
}

#dino {
  width: 50px;
  height: 50px;
  background-image: url('../img/dino.png');
  background-size: 50px 50px;
  position: relative;
  top: 145px;
}

#cactus {
  width: 50px;
  height: 40px;
  background-image: url('../img/cactus.png');
  position: relative;
  top: 110px;
  left: 540px;
  animation: cactusMov 1s infinite linear;
}

.jump {
  animation: jump 1s linear;
}